{% extends "layout.html" %}

{% block section %}
<h1>{{bdata.title}}</h1>
{% endblock %}

{% block form %}
<p>{{bdata.year}}</p>
<p>{{bdata.author}}</p>
<p>{{bdata.isbn}}</p>

<form action="{{url_for('add_review')}}" method="POST">
    <select name="adrv" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <button value="submit">submit</button>
</form>

<p>{{rvw_avg}}</p>

{% endblock %}